/* Chrome, Safari, Edge, Opera */
#inputJumlah::-webkit-outer-spin-button,
#inputJumlah::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#inputJumlah[type=number] {
  -moz-appearance: textfield;
}

.dropcustom{
  background-color: #232323;
  border: none;
  border-radius: 0;
}
.dropcustom[data-bs-popper]{
  top: 97%;
}

.dropcustom .dropdown-item{
  color: #fff;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 500;
}

.dropcustom .dropdown-item:hover{
  border-left: 3px solid #f33f3f;
  padding-left: 0.8rem;
  background-color: #232323;
  color: #f33f3f;
}

.dropcustom .dropdown-item.active{
  color: #f33f3f;
}

.dropcustom .dropdown-item:visited{
  background-color: #232323;
}

.background-dropcustom {
  background-color: #fff !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-dropcustom .dropdown-item{
  color: #1e1e1e;
}

.background-dropcustom .dropdown-item:hover{
  border-left: 3px solid #f33f3f;
  padding-left: 0.8rem;
  background-color: #fff;
  color: #f33f3f;
}

.background-dropcustom .dropdown-item:visited{
  background-color: #fff;
}

@media (max-width: 991px) {
  .dropcustom{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.08);
    margin-bottom: 15px;
    text-align: center;
  }

  .dropcustom .dropdown-item{
    color: #1e1e1e;
    padding: .5rem 1rem;
  }

  .dropcustom .dropdown-item:visited{
    background-color: #fff;
  }

  .background-dropcustom {
    box-shadow: none;
  }

  .dropcustom .dropdown-item:hover, .background-dropcustom .dropdown-item:hover{
    border-left: 0;
    padding-left: 1rem;
    background-color: #fff;
    color: #f33f3f;
  }
}
